
body
{
    background-color: rgb(128, 128, 255);
}

.day-container 
{
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: 400px;
    display: flex;
    background-color: lightcyan;
    color: green;
    border-radius: 15px;
    text-align: center;
}

.line
{
    width: ;
}





