.day-container 
{
    position: relative;
    width: 100%;
    display: flex;
    background-color: white;
    color: green;
    border-radius: 15px;
    text-align: center;
}

.time-block 
{
    height: 250px;
    margin-top: 50px;
    flex-grow: 1;
    background-color: lightblue;
    transition: all 250ms;
    text-align: center;
    padding: 10px;
}

.time-block:hover 
{
    background-color: goldenrod;
}

.time-block:first-child 
{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.time-block:last-child 
{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
