body /* Document body*/
{
  color: white;
  font-family: Arial, sans-serif;
  background-color: #3a3e41; /*#181a1b*/
  margin: 0;
  padding: 0;
  height: auto;
}

header /* Document header*/
{
  position: absolute;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5em;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 1;
}

.team-name
{
  font-size: xx-large;
  max-width: 600px;
  overflow: hidden;
  margin:0 auto;
  word-wrap: break-word;
  max-height: 2em;
}
/* 28 vw for width of each section*/
.team-desc
{
  left: 12%;
  top: 85px;;
  padding: 5px;
  width: 38vw;
  height: fit-content;
  margin:0 auto;
  word-wrap: break-word;
  position: absolute;
}

.team-notifications
{
  left: 51%;
  top: 85px;;
  padding: 5px;
  width: 28vw;
  height: fit-content;
  margin:0 auto;
  word-wrap: break-word;
  position: absolute;
  text-align: center;
}

.team-users
{
  left: 80%;
  top: 85px;;
  padding: 5px;
  width: 18vw;
  height: fit-content;
  margin:0 auto;
  word-wrap: break-word;
  position: absolute;
  text-align: center;
}

.team-users-categories
{
  padding-top: 20px;
}

/* General Sidebar ---------------------------------------------------------- */
/*#region General Sidebar Styles*/

/* The side navigation menu */
.sidebar 
{
  margin: 0;
  padding: 0;
  width: 12vw;
  background-color: #2b2e30;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 80px;
}

/* Sidebar links */
.sidebar a 
{
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/*Container for buttons to navigate to teams and friends*/
.button-container 
{
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto; /* Auto margins for horizontal centering */
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: rgba(51, 51, 51, 0);
}

/* Active/current link */
.sidebar a.active 
{
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) 
{
  background-color: #747474;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content 
{
  margin-left: 200px;
  padding: 1px 16px;
  height: 735px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) 
{
  .sidebar 
  {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) 
{
  .sidebar a 
  {
    text-align: center;
    float: none;
  }
} 

/*#endregion General sidebar*/

.back-arrow-container 
{
  scale: 1.25;
  position: fixed;
  left: 32px;
  top: 20px;
  height: 40px;
  width: 40px;
  background-color: #04AA6D;
  border-radius: 30%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.back-arrow 
{
  font-size: 10px;
}
