body /* Document body*/
{
  color: white;
  font-family: Arial, sans-serif;
  background-color: #3a3e41; /*#181a1b*/
  margin: 0;
  padding: 0;
  height: auto;
}

header /* Document header*/
{
  position: absolute;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 0.5em;
  position: fixed;
  top: 0;
  width: 100%;
  height: 64px;
  z-index: 1;
}

.team-name
{
  font-size: 45px;
  max-width: 600px;
  overflow: hidden;
  margin:0 auto;
  word-wrap: break-word;
  max-height: 2.3em;
}
/* 28 vw for width of each section*/

.team-home-content
{
  word-wrap: break-word;
  position: absolute;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
  background-color: #2b2e30;
}


.team-description
{
  left: 13%;
  top: 85px;;
  padding: 5px;
  width: 37vw;
  height: calc(45% - 90px);
  margin:0 auto;
}

.team-description-content
{
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 94%;
}

.team-upcomingEvents
{
  left: 13%;
  top: calc(45% + 10px);
  padding: 5px;
  width: 37vw;
  height: calc(55% - 25px);
  margin:0 auto;
  word-wrap: break-word;
}

.team-upcomingEvents-content
{
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 100%;
}

.team-notifications
{
  left: 51%;
  top: 85px;;
  padding: 5px;
  width: 28vw;
  height: calc(100% - 100px);
  margin:0 auto;
  text-align: center;
}

.team-notifications-content
{
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 100%;
}

.team-users
{
  left: 80%;
  top: 85px;;
  padding: 5px;
  width: 18vw;
  height: calc(100% - 100px);
  margin:0 auto;
}

.team-users-content
{
  overflow-y: scroll;
  scrollbar-width: thin;
  height: 100%;
}

.team-users-categories
{
  padding-top: 20px;
}

/* Event Content ------------------------------------------------------------ */
/*#region Event Content Styles*/

.team-upcomingEvents-content-container
{
  position: relative;
  border-radius: 10px;
  background-color: #3a3e41;
  height: 28%;
  padding: 3%;
  margin: 15px;
}

.team-upcomingEvents-content-container-content
{
  position: absolute;
  overflow-y: auto;
  scrollbar-width: thin;
}

.team-upcomingEvents-content-container-name
{
  height: 25%;
  width: 48%;
  top: 15%;
  left: 3%;
}

.team-upcomingEvents-content-container-description
{
  top: 45%;
  height: 45%;
  width: 48%;
  left: 3%;
}

.team-upcomingEvents-content-container-users
{
  top: 15%;
  width: 30%;
  left: 52%;
  height: 75%;
}

.team-upcomingEvents-content-container-startTime
{
  top: 15%;
  left: 83%;
  width: 15%;
  height: 36%;
  border-bottom: #2b2e30;
  font-size: 13px;
}

.team-upcomingEvents-content-container-endTime
{
  top: 54%;
  left: 83%;
  width: 15%;
  height: 36%;
  font-size: 13px;
}


/*#endregion*/

/* General Sidebar ---------------------------------------------------------- */
/*#region General Sidebar Styles*/

/* The side navigation menu */
.sidebar 
{
  margin: 0;
  padding: 0;
  width: 12vw;
  background-color: #2b2e30;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 80px;
}

/* Sidebar links */
.sidebar a 
{
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/*Container for buttons to navigate to teams and friends*/
.button-container 
{
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto; /* Auto margins for horizontal centering */
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: rgba(51, 51, 51, 0);
}

/* Active/current link */
.sidebar a.active 
{
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) 
{
  background-color: #747474;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content 
{
  margin-left: 200px;
  padding: 1px 16px;
  height: 735px;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) 
{
  .sidebar 
  {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) 
{
  .sidebar a 
  {
    text-align: center;
    float: none;
  }
} 

/*#endregion General sidebar*/

.back-arrow-container 
{
  scale: 1.25;
  position: fixed;
  left: 32px;
  top: 20px;
  height: 40px;
  width: 40px;
  background-color: #04AA6D;
  border-radius: 30%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.back-arrow 
{
  font-size: 10px;
}

/*#endregion*/
/* Notifications ---------------------------------------------------------- */
/*#region Notification Styles*/

.team-notifications-content-element
{
  position: relative;
  border-radius: 10px;
  background-color: #3a3e41;
  height: 120px;
  margin: 15px;
}

.team-notifications-content-element-name
{
  position: absolute;
  width: 100%;
  height: 15%;
  top: 5%;
  font-size: 18px;
}

.team-notifications-content-element-description
{
  position: absolute;
  top: 25%;
  height: 70%;
  width: 100%;
  font-size: 14px;
}

.team-notifications-content-element-time
{
  position: absolute;
  width: 100%;
  bottom: 2%;
  left: 2%;
  font-size: 14px;
  text-align: center;
  font-style: italic;
}

.menu-icon
{
  position: absolute;
  right: 5%;
  top: 4%;
  cursor: pointer;
  z-index: 3;
  user-select: none; 
}

.notification-options
{
  position: absolute;
  bottom: 48%;
  right: 0%;
  cursor: pointer;
  z-index: 3;
  user-select: none;
}

.notification-options button
{
  background-color: #2b2e30;
  color: white;
  width: 100%;
  border: none;
  border-radius: 4px;
  transition: background-color 100ms ease-in-out;
  cursor: pointer;
}

.notification-options button:hover
{
  background-color: #04AA6D;
}
/*#endregion*/
