body /* Document body*/
{
  font-family: Arial, sans-serif;
  background-color: #3a3e41; /*#181a1b*/
  margin: 0;
  padding: 0;
  height: auto;
}

header /* Document header*/
{
  position: absolute;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
}


/* Sidebar*/
.sidebar 
{
  margin: 0;
  padding: 0;
  width: 12vw;
  background-color: #2b2e30;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 80px;
}

/* Sidebar links */
.sidebar a 
{
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/*Container for buttons to navigate to teams and friends*/
.button-container 
{
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto; /* Auto margins for horizontal centering */
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: rgba(51, 51, 51, 0);
}

/* Active/current link */
.sidebar a.active 
{
  background-color: #04AA6D;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) 
{
  background-color: #747474;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content 
{
  margin-left: 200px;
  padding: 1px 16px;
  height: 735px;
}

#invite-people,
#team-leave,
#team-delete,
#user-remove,
#description-update,
#name-update,
#manage-queue,
#autojoin-manage,
#clear-notifications
{
  display: inline-block; /* Align buttons horizontally */
  margin: 0 10px; /* Space between buttons */
  padding: 10px 20px; /* Padding around text */
  color: white;
  cursor: pointer; /* Hand icon on hover */
  transition: background-color 0.3s, transform 0.1s; /* Smooth transitions for hover and click */
}

/* Hover effect for buttons */
#invite-people:hover,
#team-leave:hover,
#team-delete:hover,
#user-remove:hover,
#description-update:hover,
#name-update:hover,
#manage-queue:hover,
#autojoin-manage:hover,
#clear-notifications:hover
{
  background-color: #505050; /* Slightly darker on hover */
  transform: scale(1.05); /* Slightly larger on hover */
}

/* Click effect for buttons */
#invite-people:active,
#team-leave:active,
#team-delete:active,
#user-remove:active
#description-update:active,
#name-update:active,
#manage-queue:active,
#autojoin-manage:active,
#clear-notifications:hover
{
  transform: scale(0.95); /* Slightly smaller on click */
}

/* The Modal (background) */
.modal 
{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0,0.4); /* Fallback color */
  overflow: hidden;
}

/* Modal Content/Box */
.modal-content 
{
  background-color: #2b2e30;
  /*! margin: 15% auto; */ /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  /*! width: 80%; */ /* Could be more or less, depending on screen size */
  left: 0px;
  position: relative;
  height: 100%;
  top: 0px;
  overflow: hidden;
  width: 180px;
}

/* The Close Button */
.close 
{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus 
{
  color: white;
  text-decoration: none;
  cursor: pointer;
}